<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <form method="post">
            {% csrf_token %} 
            <input name="query" value="{{ query }}" type="text" />
            <input value="Поехали" name="submit" type="submit" />
        </form>
        <a href="https://oauth.vk.com/authorize?client_id=2895443&scope=photos,groups,wall&response_type=token&redirect_uri=http://127.0.0.1:8000/resp/">vk_login</a>
        <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    </body>
</html>
