<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
$(document).ready(function() {
    var hash = window.location.hash.substr(1);
    $.get( '?'+hash, function( data ) {
        console.log( data );
        window.location.replace('/')
    });
});
</script>